<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" formControlName="username" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="text" formControlName="password" required></ion-input>
        </ion-item>
      </ion-list> 
  
      <ion-button shape="block" color="success" type = "submit">Login</ion-button>
      <ion-button shape="block" (click)="goToSignUp()">Sign Up</ion-button>
    
    </form>
  </ion-card>

</ion-content>
