<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <h4>Choose what you want to do</h4>
    <h6>Lists of functions that can help you in your account</h6>
        
    <ion-button  shape="block" (click)="goToLogin()">Login</ion-button>
    <ion-button  shape="block" (click)="goToSignUp()">Sign Up</ion-button>
    <ion-button  shape="block" (click)="goToProfile()">Profile</ion-button>
  </ion-card>
         
</ion-content>
